*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header-info{
    height: 600px;
    background-color: rgba(251, 5, 58, 0.2);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.header-text >h3{
    font-weight: 700;
    font-size: 50px;
    width: 450px;
    margin-bottom: 20px;
}
.header-text p{
    width: 550px;
    margin-bottom: 20px;
}
.button-primary{
    padding: 15px 20px;
    background-color: #E55473;
    border-radius: 8px;
    color: white;
}
.header-text{
    margin-left: 100px;
}
.header-img{
    margin-top: 25px;
    margin-right: 100px;
}
.container{
    /* height: 1000px; */
    margin-top: 100px;
}
.feature{
    text-align: center; 
    margin-bottom: 40px;  
}
.feature >h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}
.feature>p{
    margin-bottom: 10px;
}
.flower-tree{
/* width: 80%; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
    /* margin-top: 30px; */
    /* margin-bottom: 50px; */
}
.flower-tree img{ 
    width: 220px;
    padding: 30px;
    
} 
.flower-tree .box-1 img{
    margin-top: 40px;
}
.flower-tree .box-2 img{
    margin-top: 60px;
}
.flower-tree .box-3 img{
    margin-top: 15px;
}
.flower-tree .box-2 p{
    margin-top: 65px;
}
.flower-tree .box p{
    text-decoration: underline;
    color: blue;
}

.box{
    background-color: rgba(167, 33, 98, 0.15);
    height: 375px;
    width: 325px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 170px;
}
.box-1{
    margin-left: 155px;
    
}
.box-2{
    background-color: rgba(5, 151, 160, 0.15);
    margin-left: 0px;
}
.box-3{
    background-color: rgba(71, 125, 17, 0.15);
    /* display: flex; */
    margin-right: 155px;
}
.bonus{
    display: flex;
    margin-top: 150px;
    background-color: #ddd;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    width: 1050px;
    margin: auto;
    margin-bottom: 100px;
}
.offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px;
    background-color: rgba(229, 84, 115, 0.2);
    height: 190px;
}
.offer-text{
    text-align: center;
    margin-left: 100px;
}
.offer-text h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.offer-text .p{
    margin-bottom: 20px;
}
.offer-img{
    margin-right: 100px;
}
.offer-img img{
    width: 250px;
}

